  


  body {
    font-family: Arial, Helvetica, sans-serif;
    color: #222;
  }
 /* body tag is used for fonts and color */
  .emoji {
    border: 1px solid #222;
    border-radius: 8px;
    padding: 16px;
  }
 /* content container */
  .emoji h2 {
    margin: 0;
    border-bottom: 1px solid #CCC;
  }
/* headings underline  */
  .emoji a {
    text-decoration: none;
    background-color: #781BAA;
    color: white;
    padding: 1rem;
    border-radius: 10px;
  }
  /* read more button  */
  .icon {
    font-size: 4rem;
  }
  /* icon size */
  .icon{
    align-self: center;
    order: -1;
    padding-bottom: 7px;
  }
  /* emojies */
  .emojis {
      display: grid;
      grid-template-columns: repeat(2, 34rem);
      gap: 20px;
  }
  /* here the grid property used */
  .emoji{
      display: flex;
      flex-direction: column;
  }
  /* flex used inside the container */
  .emoji p{
      flex-grow: 2;
  }
  
  /* the end  */